        <div class="form-test">
          <div class="form">
            <div class="graph">
              <canvas id="myRaderChart"></canvas>
              <!-- CDN -->
            　<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
            
              <script>
                var ctx = document.getElementById("myRaderChart");
                var myRadarChart = new Chart(ctx, {
                    type: 'radar', 
                    data: { 
                        labels: ["心情", "思考", "信念", "内省", "反応", "行動"],
                        datasets: [ {
                            label: '名前',
                            data: [8, 6, 9, 7, 4, 2],
                            backgroundColor: '#136FFF',
                            borderColor: 'RGBA(115,255,25, 1)',
                            borderWidth: 1,
                            pointBackgroundColor: 'RGBA(115,255,25, 1)'
                        }]
                    },
                    options: {
                        title: {
                            display: true,
                            text: 'パーソナリティ診断結果',
                        },
                        scale:{
                            ticks:{
                                suggestedMin: 0,
                                suggestedMax: 10,
                                stepSize: 4,
                            }
                        }
                    }
                });
                </script>
            </div>

            <div class="answer ">
              <div class="container">
                <div class="row">
                  <div class="col text-center ">
                    <a href="#" class="link text-decoration-none text-white">あなたが最も強く持っているパーソナリティーは＝＝です</a>
                  </div>
                  <div class="col text-center">
                    <a href="#" class="link text-decoration-none text-white">あなたが次に強く持っているパーソナリティーは＝＝です</a>
                  </div>
                </div>
              </div>
            </div>


        </div>
      </div>
