<div class="new_base">
  <div class="new_inbase ">
   <h1 class="appname" >Work,LiveShift</h1>
   <h1 class="user_title mb-5" >〜 性格診断について 〜</h1>

     <%= link_to '性格診断へ進む', choice_questions_user_question_answers_path, class: "btn btn-primary float-end mb-5" %>

  </div>
</div>