<div class="user_prf_base">
  <div class="user_prf_inbase ">

    <dl class="row">
      <dt class="col-sm-4 mb-3">お名前</dt>
      <dd class="col-sm-8 mb-3">西本憲太</dd>

      <dt class="col-sm-4 mb-3">年齢</dt>
      <dd class="col-sm-8 mb-3">27歳</dd>

      <dt class="col-sm-4 mb-3">生年月日</dt>
      <dd class="col-sm-8 mb-3">1993年11月4日</dd>

      <dt class="col-sm-4 mb-4">居住地</dt>
      <dd class="col-sm-8 mb-4">兵庫県</dd>

      <dt class="col-sm-4 mb-5">長所・強み</dt>
      <dd class="col-sm-8 mb-5">あああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</dd>

      <dt class="col-sm-4 mb-5">これからやってみたいこと</dt>
      <dd class="col-sm-8 mb-5">あああああああああああああああああああああゝああああゝああああああああああああああああああああゝああああゝあ</dd>
    </dl>
  </div>
</div>