<nav class="navbar navbar-light bg-light">
  <div class="container-fluid" >
    <a class="navbar-brand">Work,LiveShift</a>
    <div class="d-flex">
      <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "btn btn-outline-success mx-2" %>
    </div>
  </div>
</nav>