<%# 未ログイン時のヘッダー %>
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid" >
    <a class="navbar-brand">Work,LiveShift</a>
    <form class="d-flex">
      <button class="btn btn-outline-success" type="submit">ログイン／新規登録</button>
    </form>
  </div>
</nav>