<%# 会社一覧の検索部分のビュー %>
<div class="mb-3 ">
  <label for="exampleFormControlInput1" class="form-label"> 
  <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-search mx-3 my-2" viewBox="0 0 16 16">
  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
  </svg>検索条件</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="キーワード検索">
</div>

<select class="form-select" aria-label="Default select example">
  <option selected>ジャンル</option>
  <option value="1">エンジニア</option>
  <option value="2">教育</option>
  <option value="3">セールス</option>
</select>

<select class="form-select" aria-label="Default select example">
  <option selected>地域</option>
  <option value="1">東京</option>
  <option value="2">大阪</option>
  <option value="3">名古屋</option>
</select>

