<%# 会社一覧の検索部分のビュー %>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label"> 検索条件</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="キーワード検索">
</div>

<select class="form-select" aria-label="Default select example">
  <option selected>ジャンル</option>
  <option value="1">エンジニア</option>
  <option value="2">教育</option>
  <option value="3">セールス</option>
</select>

<select class="form-select" aria-label="Default select example">
  <option selected>地域</option>
  <option value="1">東京</option>
  <option value="2">大阪</option>
  <option value="3">名古屋</option>
</select>

