<div class="chat border">
  <div class="chat-header d-flex align-items-center">
    <div class="header_left py-4 ps-3 border text-secondary">メッセージ</div>
    <div class="header_right text-center py-4 border">企業名</div>
  </div>

  <div class="d-flex align-items-center">
    <div class="chat_list border">
      <% current_user.chats.each do |chat| %>
        <div class="chat_partner border-bottom">
          <%= link_to chat.company.my_company_name, chat_path(chat), class: "text-decoration-none text-dark" %>
        </div>
      <% end %>
    </div>
  </div>
</div>