<div class="new_base">
  <div class="new_inbase ">
   <h1 class="appname" >Work,LiveShift</h1>
   <h1 class="user_title mb-5" >〜 チャットを始める 〜</h1>
    <%=form_with model: @chat, local: true do |f|%>
      <div>
        <select name="chat[user_id]">
          <option value="">チャットするユーザーを選択してください</option>
            <% @entry.each do |user| %>
              <% User.where(id: user.id).each do |user| %>
                <option value=<%= user.id %>> <%= user.family_name %> </option>
              <% end %>
            <% end %>
        </select>
      </div>
      <%= f.submit "チャットを始める" ,class:"btn btn-primary float-end mb-5" %>
    <% end %>
  </div>
</div>