<div class="new_base">
  <div class="new_inbase ">
   <h1 class="appname" >Work,LiveShift</h1>
   <h1 class="user_title mb-5" >〜 企業情報を登録する 〜</h1>

      <%= link_to '新規登録', new_supplier_registration_path, class: "" %>
      <%= link_to 'ログイン', new_supplier_session_path, class: "" %>
  </div>
</div>