// Place all the styles related to the companies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// =================== ヘッダー部分のCSS ===================



// 左上の文字
.navbar-brand{
  font-size: 30px;
  color: black;
  font-family: fantasy;
  padding-top: 15px;
  }

  // ログイン／新規登録の文字色
.btn-outline-success{
  border-color: #136FFF;
}

  // ログイン／新規登録のマウスを当てた時の色
.btn-outline-success:hover{
  color: white;
  background-color: #A4C6FF;
  border-color: #136FFF;
}

.user_link{
  color: black;
}

// ログイン済みのユーザーのドロップダウンのCSS

.dropdown-item{
  width: 90%;
  margin-top: 10px;
}


// =================== ヘッダー部分のCSS ===================

.company_list{
  width: 70%;
}

// =================== 検索部分のCSS ===================

// 画像の下にスペースを作る
.carousel{
  margin-bottom: 50px;
}
// 検索のジャンルの下にスペースを入れる
.form-select{
  margin-bottom: 15px;
}

// =================== 検索部分のCSS ===================

// =================== 記事一覧部分のCSS ===================


// ジャンルや地域の囲い
.genre{
  width:500px;
  height:80px;
  background:#136FFF;
  border-radius:70px 70px 70px 70px;
  padding: 10px;
  font-size: 12px;
  margin: 30px 5px;
  color: white;
}


.keyword{
  margin: 30px 0px;
}

// 会社名のサイズ
.office-name{
  font-size: 30px;
}

// =================== フッター部分のCSS ===================

.footer{
  max-width: 100%;
  padding: 30px 50px;
}

// =================== 企業情報入力のCSS ===================


.new_base{
  height: 800px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  }

.new_base_sixth{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.new_inbase_sixth{
  height: 85%;
  width: 90%;
}

.new_inbase{
  height: 85%;
  width: 60%;
}

.sixth_title{
  width: 50%;
  margin: 0 auto;
}

.form-image{
  input{
    display: none;
  }
}


.location{
  height: 50%;
  width: 100%;
}

.select_box_company {
  height: 100%;
  padding-left: 20px;
  width: 100%;

}

.check_box{
  background-color: #D9E5FF;
}

.top_image{
  background:#136FFF;
}

// 業務内容を指定の行のみ表示
.company_content{
  color: dimgray;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.company_show{
  width: 80%;
  margin: 30px auto;
}

.sentence_interval{
  line-height: 40px;
}

// ーーーーーーーーーーーー 企業側のユーザーページ ーーーーーーーーーーーー

.company_details{
  width: 85%;
  margin: 50px auto;
}

.company_details_menu{
  font-size: 18px;
  color: darkgray;
  border-right: 1px solid;
  padding-right: 20px;
}

.details_main{
  max-width: 70%;
}