// Place all the styles related to the companies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// =================== ヘッダー部分のCSS ===================

.navbar-brand{
  font-size: 30px;
  color: #444444;
  font-family: fantasy;
  padding-top: 15px;
  }

.btn-outline-success{
  color:#444444;
  border-color: #444444;
}
.btn-outline-success:hover{
  background-color: #BBBBBB;
  border-color: #DDDDDD;
}

// =================== ヘッダー部分のCSS ===================


