.personality_base{
  height: 100%;
  width: 70%;
  margin: 30px auto;
}

.personality_descriptions{
  margin-left: 10px;
}

// -----------------------------------

.thinker_name{
  color: #8EB8FF ;
}

.pasi_name{
  color: #C299FF ;
}

.hamo_name{
  color: #FF9872 ;
}

.ima_name{
  color: #D2691E ;
}

.revel_name{
  color: #FFD700 ;
}

.pro_name{
  color:#FF69A3 ;
}



.description_option{
  line-height: 50px;
  text-decoration: underline;
  text-underline-offset: 8px;
}

.thinker_option{
  text-decoration-color: #8EB8FF; /* 線の色 */
}

.pasi_option{
  text-decoration-color: #C299FF; /* 線の色 */
}

.hamo_option{
  text-decoration-color: #FF9872; /* 線の色 */
}

.ima_option{
  text-decoration-color: #D2691E; /* 線の色 */
}

.revel_option{
  text-decoration-color: #FFD700; /* 線の色 */
}

.pro_option{
  text-decoration-color: #FF69A3 ; /* 線の色 */
}

// フッター部分のタグ

.thinker_tag{
  background-color: #8EB8FF ;
}

.pasi_tag{
  background-color: #C299FF ;
}

.hamo_tag{
  background-color: #FF9872 ;
}

.ima_tag{
  background-color: #D2691E ;
}

.revel_tag{
  background-color: #FFD700 ;
}

.pro_tag{
  background-color: #FF69A3 ;
}