// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.user_prf_base{
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  }

.user_prf_inbase{
  height: 60%;
  width: 60%;
  margin: 0 auto;
}



.user_career_base{
  min-height: 300px;
  
  width: 100%;
}

.user_career_inbase{
  height: auto;
  width: 50%;
  margin: 60px auto 0 ;
  padding-bottom: 30px;
}

.user_link_icon{
  width:80px;
  height:80px;
  background:#136FFF;
  border-radius:70px 70px 70px 70px;  
}


details{
  width: 80%;
  margin: 10px auto;
}

summary {
  display: block;
  position: relative;
  display: block; /* 矢印を消す */
  padding-left: 20px; /* アイコン分の余白 */
  cursor: pointer;
  transition: 0.2s; /* 変化を滑らかに */
}

summary::-webkit-details-marker {
  display: none; /* 矢印を消す */
}

/* 疑似要素でアイコンを表示 */
summary:before,
summary:after {
  content: "";
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}

summary:before {
  width: 16px;
  height: 16px;
  border-radius: 4px;
  background:#136FFF;
}

summary:after {
  left: 6px;
  width: 5px;
  height: 5px;
  border: 4px solid transparent;
  border-left: 5px solid #fff;
  box-sizing: border-box;
  transition: .1s;
}

/* オープン時 */
details[open] summary:after {
  transform: rotate(90deg); /* 90度回転 */
  left: 4px;
  top: 5px;
}

/* ホバー時のスタイル */
summary:hover {
  cursor: pointer; /* カーソルを指マークに */
  background:#D9E5FF;
}

/* オープン時にアニメーションを設定 */
details[open] .details-content {
  animation: fadeIn 0.5s ease;
}
@keyframes fadeIn {
  0% {
    opacity: 1; /* 透明 */
    transform: translateY(-10px); /* 上から表示 */
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.business_content{
  white-space: pre-wrap;
}