// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.user_prf_base{
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  }

.user_prf_inbase{
  height: 60%;
  width: 100%;
}

.user_prf_info{
  margin-left: 400px ;
}


.user_career_base{
  height: 600px;
  width: 100%;
}

.user_career_inbase{
  height: 50%;
  width: 50%;
  margin: 60px auto 0 ;
}

.user_link_icon{
  width:80px;
  height:80px;
  background:#136FFF;
  border-radius:70px 70px 70px 70px;  
}